# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# === Sécurité (Variables d'environnement) ===
.env

# === Node.js & Tailwind CSS ===
node_modules/

# === Système et Éditeurs (Optionnel mais recommandé) ===
.DS_Store
.vscode/
.idea/