{% extends "base.html" %}

{% block title %}Ajouter un film{% endblock %}

{% block content %}
<div class="add-movie">
    <h1>Ajouter un film IMDb</h1>
    <form method="POST">
        <input type="text" name="imdb_url" placeholder="Lien IMDb du film" required>
        <input type="text" name="film_url" placeholder="Lien du film" required>
        <button type="submit">Ajouter</button>
    </form>

    <h2>Films existants</h2>
    <ul class="movie-list">
        {% for movie in movies %}
            <li>
                {{ movie.title }}
                <a href="{{ url_for('edit_movie', index=loop.index0) }}">Modifier</a>
                <a href="{{ url_for('delete_movie', index=loop.index0) }}">supprimer</a>
            </li>
        {% endfor %}
    </ul>

    <p><a href="{{ url_for('index') }}">⬅ Retour à la liste des films</a></p>
</div>
{% endblock %}
